@model IEnumerable<StoreApp.Models.Products>
@{
    ViewBag.Title = "ProductByStoreId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product By Store Id</h2> @*this view has a custom route*@

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name: @product.Description</li>
    }
</ul>